* {
  box-sizing: border-box;
}

.panes .pane .item-views {
	background: @color-blue-dark;
}

a {
	color: @color-blue-active;
	opacity: .7;
	transition: opacity .1s ease-in;

	&:hover {
		color: @color-blue-active;
	  opacity: 1;
	}
}

.icon:before {
  font-family: "Octicons Regular" !important;
  margin-right: 6px !important;
}

.mini {
	margin: 4px 0;
	border-radius: @border-radius;
	padding: 8px 10px;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.15);
	max-height: none !important;
}