// Colors
@color-blue-dark: #0B0F15;
@color-blue-sleeping: #1A232E;
@color-blue-active: #3D5978;
@color-accent: #76FFCD;
@color-white: #fff;

@color-text-sleeping: rgba(255, 255, 255, 0.4);
@color-text-active: #fff;
@color-tree-background: #0C1217;

@color-cursor: blue;

@color-added: #6cc644;
@color-modified: #ffc045;
@color-removed:;
